<div style="padding-left: 10px; padding-right: 10px;">
    <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px;">
        <h1>Device List</h1>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Device 1" #input>
        </mat-form-field>
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Device type</th>
            <th>Shelf Position</th>
        </tr>
    </thead>
    <tbody>
        @for (device of filteredDevices(); track $index) {
            <tr>
                <td>{{device.id}}</td>
                <td>{{device.name}}</td>
                <td>{{device.deviceType}}</td>
                <td>@for (shelfPosition of device.shelfPositions; track $index) {
                    <span>{{shelfPosition.name}}, </span>    
                }
                </td>
                <div>
                    <td><button type="button" class="btn btn-success" (click)="onOpen(device.id!, device.name!)">Add Shelf Position</button></td>
                    <td><button type="button" class="btn btn-primary" (click)="openDialog(device.id!,device.name!,device.deviceType!)">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="openDelDialog(device.id!,device.name!,device.deviceType!)">🗑️</button></td>
                </div>
            </tr>
        }
    </tbody>
</table>
</div>
