<mat-dialog-content>
    <h2 mat-dialog-title>Delete {{data.title}}</h2>
    <mat-dialog-content>Are you sure you want to <span style="color: red;">delete</span> this {{data.title}}:
        <ul>
            <li>Id: <span style="color: red;">{{data.delObj.id}}</span></li>
            <li>Name: <span style="color: red;">{{data.delObj.name}}</span></li>
            @if (data.delObj.deviceType != undefined) {
                <li>Device Type: <span style="color: red;">{{data.delObj.deviceType}}</span></li>
            }
            @else if(data.delObj.shelfType != undefined){
                <li>Shelf Type: <span style="color: red;">{{data.delObj.shelfType}}</span></li>
            }
        </ul>
    </mat-dialog-content>
    <button mat-stroked-button (click)="data.submit(data.delObj.id)">Delete {{data.title}}</button>
</mat-dialog-content>
