<div>
    <h1>Shelf Positions</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">name</th>
            <th scope="col">Has Device</th>
          </tr>
        </thead>
        <tbody>
          @for (shelfPosition of shelfPositionItems(); track $index) {
            <tr>
                <td>{{shelfPosition.id}}</td>
                <td>{{shelfPosition.name}}</td>
                <td>{{shelfPosition.device?.name === null ? "-" : shelfPosition.device?.name}}</td>
                <td><button type="button" class="btn btn-success">Add Shelf</button></td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
                <td><button type="button" class="btn btn-danger">🗑️</button></td>
            </tr>
          }
        </tbody>
      </table>
</div>