<div style="margin: 0px 10px 0px 10px;">
  <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px;">
    <h1>Shelf Positions</h1>
      <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Shelf Position 1" #input>
      </mat-form-field>
  </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">name</th>
            <th scope="col">Has Device</th>
            <th scope="col">Has Shelf</th>
          </tr>
        </thead>
        <tbody>
          @for (shelfPosition of filteredShelfPositions(); track $index) {
            <tr>
                <td>{{shelfPosition.id}}</td>
                <td>{{shelfPosition.name}}</td>
                <td>{{shelfPosition.device?.name === null ? "-" : shelfPosition.device?.name}}</td>
                <td>{{shelfPosition.shelf?.name === null ? "-" : shelfPosition.shelf?.name}}</td>
                <div>
                  <td><button type="button" class="btn btn-success" (click)="onOpen(shelfPosition.id!)">Add Shelf</button></td>
                  <td><button type="button" class="btn btn-primary" (click)="openDialog(shelfPosition.id!,shelfPosition.name!)">Edit</button></td>
                  <td><button type="button" class="btn btn-danger" (click)="openDelDialog(shelfPosition.id!,shelfPosition.name!)">🗑️</button></td>
                </div>
            </tr>
          }
        </tbody>
      </table>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="display: flex; flex-direction: row; justify-content: space-between;">
            <h5 class="modal-title" id="exampleModalLabel">Add Shelf</h5>
            <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Select a Shelf</p>
                <div>
                  @if (availableShelves().length == 0) {
                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                      <p>No shelf available</p>
                      <button mat-stroked-button (click)="toAddShelf()">Add Shelf</button>
                    </div>
                  }
                  @else {
                    @for (shelf of availableShelves(); track $index) {
                        <div (click)="selectedShelfIdUpdate(shelf.id!)" class="shelfPosition" [ngClass]="{'availableShelves': selectedShelfId === shelf.id}" style="cursor: pointer; border: 1px solid grey; padding: 10px; border-radius: 7px; margin-bottom: 5px;">
                            <div>{{shelf.name}}</div>
                        </div>
                    }
                  }
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Close</button>
            <button type="button" class="btn btn-primary" (click)="addShelfToShelfPosition()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>