<div style="padding: 0px 10px 0px 10px;">
    <div style="display: flex; justify-content: space-between;">
      <h1>Shelf Positions</h1>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">name</th>
            <th scope="col">Shelf Type</th>
          </tr>
        </thead>
        <tbody>
          @for (shelf of filteredShelves(); track $index) {
            <tr>
                <td>{{shelf.id}}</td>
                <td>{{shelf.name}}</td>
                <td>{{shelf.shelfType}}</td>
                <div>
                  <td><button type="button" class="btn btn-primary" (click)="openDialog(shelf.id!,shelf.name!,shelf.shelfType!)">Edit</button></td>
                <td><button type="button" class="btn btn-danger" (click)="delOpenDialog(shelf.id!, shelf.name!, shelf.shelfType!)">🗑️</button></td>
                </div>
            </tr>
          }
        </tbody>
      </table>
</div>