<div style="padding: 0px 10px 0px 10px;">
    <div style="display: flex; justify-content: space-between;">
      <h1>Shelves</h1>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">name</th>
            <th scope="col">Shelf Type</th>
          </tr>
        </thead>
        <tbody>
          @for (shelf of filteredShelves(); track $index) {
            <tr>
                <td>{{shelf.id}}</td>
                <td>{{shelf.name}}</td>
                <td>{{shelf.shelfType}}</td>
                <div style="display: flex; flex-direction: row; gap: 7px; align-items: center;">
                  <td><button mat-mini-fab (click)="openDialog(shelf.id!,shelf.name!,shelf.shelfType!)"><mat-icon>edit</mat-icon></button></td>
                  <td><button mat-mini-fab (click)="delOpenDialog(shelf.id!, shelf.name!, shelf.shelfType!)"><mat-icon>delete</mat-icon></button></td>
                  <td><button mat-stroked-button (click)="navigateToShelfSummary(shelf.id!)">Show Summary</button></td>
              </div>
            </tr>
          }
        </tbody>
      </table>
</div>