<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Shelf Positions</h1>
    @if (!shelfItems().length) {
      <p>Loading...</p>
    }

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">name</th>
            <th scope="col">Has Device</th>
          </tr>
        </thead>
        <tbody>
          @for (shelf of shelfItems(); track $index) {
            <tr>
                <td>{{shelf.id}}</td>
                <td>{{shelf.name}}</td>
                <td>{{shelf.shelfType}}</td>
                <div>
                  <td><button type="button" class="btn btn-success">Add Shelf Position</button></td>
                  <td><button type="button" class="btn btn-primary">Edit</button></td>
                  <td><button type="button" class="btn btn-danger">🗑️</button></td>
              </div>
            </tr>
          }
        </tbody>
      </table>
</body>
</html>